name: coveo-testing

on:
  push:
    branches:
      - main
    paths:
      - 'coveo-testing/**'
      - '!**.lock'
      - '!**.md'

  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'coveo-testing/**'
      - '.github/workflows/coveo-testing.yml'
      - '!**.md'

  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to pypi.org?"
        required: false
        default: 'false'


jobs:
  pyprojectci:
    name: pyproject ci
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.12"]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Run stew ci
        uses: coveo/stew@main
        with:
          project-name: ${{ github.workflow }}
          python-version: ${{ matrix.python-version }}
          poetry-version: "<3"

  publish:
    if: github.ref == 'refs/heads/main'
    name: Publish to pypi.org
    runs-on: ubuntu-22.04
    needs: pyprojectci
    environment:
      name: pypi
      url: https://pypi.org/project/coveo-testing/
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Setup python 3.9
        uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        with:
          python-version: 3.9

      - name: Build
        uses: ./.github/workflows/actions/build
        id: build
        with:
          project-name: ${{ github.workflow }}
          pre-release: ${{ github.ref != 'refs/heads/main' }}
          dry-run: ${{ github.ref != 'refs/heads/main' && github.event.inputs.publish != 'true' }}

      - name: Publish to pypi
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          packages-dir: ${{ github.workflow }}/dist

      - name: Create tag
        uses: ./.github/workflows/actions/post-publish
        with:
          project-name: ${{ github.workflow }}
          next-version: ${{ steps.build.outputs.next-version }}
          dry-run: ${{ github.ref != 'refs/heads/main' && github.event.inputs.publish != 'true' }}

